<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/action-mybatis.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>boardControllerImpl</display-name>
    <servlet-name>boardControllerImpl</servlet-name>
    <servlet-class>com.myspring.kurly.board.controller.boardControllerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardControllerImpl</servlet-name>
    <url-pattern>/boardControllerImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardDAOImpl</display-name>
    <servlet-name>boardDAOImpl</servlet-name>
    <servlet-class>com.myspring.kurly.board.dao.boardDAOImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardDAOImpl</servlet-name>
    <url-pattern>/boardDAOImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberControllerImpl</display-name>
    <servlet-name>memberControllerImpl</servlet-name>
    <servlet-class>com.myspring.kurly.member.controller.memberControllerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberControllerImpl</servlet-name>
    <url-pattern>/memberControllerImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberDAOImpl</display-name>
    <servlet-name>memberDAOImpl</servlet-name>
    <servlet-class>com.myspring.kurly.member.dao.memberDAOImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberDAOImpl</servlet-name>
    <url-pattern>/memberDAOImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberServiceImpl</display-name>
    <servlet-name>memberServiceImpl</servlet-name>
    <servlet-class>com.myspring.kurly.member.service.memberServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberServiceImpl</servlet-name>
    <url-pattern>/memberServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerDAO</display-name>
    <servlet-name>managerDAO</servlet-name>
    <servlet-class>com.myspring.kurly.manager.managerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerDAO</servlet-name>
    <url-pattern>/managerDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerItemDAO</display-name>
    <servlet-name>managerItemDAO</servlet-name>
    <servlet-class>com.myspring.kurly.manager.item.managerItemDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerItemDAO</servlet-name>
    <url-pattern>/managerItemDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.myspring.kurly.manager.item.upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>